/* Main menu */
.fixed{
    position: fixed;
    left: 0;
    right: 0;
}
nav{
    margin-top: 20px;
    background-color: transparent;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Noto Sans KR", sans-serif;
    position: relative;
}
nav h1{
    font-size: 40px;
    order: 2;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform:translateX(-50%)
}
nav > ul{
    display: flex;
    order: 1;
    justify-content: space-between;
}

nav ul:after{
    content:'';
    display: block;
    clear: both;
}
nav .lnb{
    width: 600px;     
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    text-align: left;
    gap:20px;
}
body{
    background: transparent;
    overflow-y: scroll;
}
header{
    margin-top: 20px;
    height: 100px;
    transition: height 0.5s;
    background: transparent;
    z-index: 99;
}
nav{
    width: 1400px;
    margin: 0 auto;
}
nav > ul > li {
    float:left; 
    line-height:50px; 
    margin-right:40px; 
    position: relative;
}
/*
header nav ul li ul{ 
    width:100%; 
    display: none;
    position: absolute;
}
*/
header nav ul li ul li{
    white-space:nowrap;
}

nav > ul > li:hover ul{
    display:flex;
}
#icon{
    order: 3;
    gap: 50px; 
}

/* banner */
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialised;
}
.slideshow {
    margin:0;
    padding:0;
}
.slide-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 600px;
}
.slide-container {
    position: absolute;
    width: 100%;
    height:100%;
    margin:0;
    padding: 0;
    transition: left .3s ease-in;
    left: 0;
}
.slide-container>li {
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    list-style: none;
}
.slide-wrapper .controls {
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    z-index: 999999;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    transition: all .3s ease-in;
    background: rgba(255, 255, 255, .5);
    text-align: center;
    line-height: 5rem;
    font-size: 20px;
    color: #444;
}

#prev {
    left: 20px;
}

#next {
    right: 20px;
}

#prev.disabled,
#next.disabled {
    display: none;
}

.slide-wrapper .controls:hover {
    background: rgba(255, 255, 255, 1);
}

.pager {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

.pager a {
    width: 10px;
    height: 10px;
    margin: 0 10px;
    border-radius: 50%;
    background: #ccc;
    text-indent: -9999em;
    cursor: pointer;
    display: inline-block;
}
.pager a.active {
    background: #000;
}
/*
*{ margin:0;
    padding: 0;  
  }
  .slidewrapper{
    position: relative;
  }
  .slidecontainer{
    position: relative;
    display: flex;
  }
  .slide {
    width: 100%;
    height: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
   
  }
  .slide video{
    width: 100%;
  }
  .slide.active{
    opacity: 1;
    visibility: visible;
  }
  .slideshow button{
    background: ##252525;
    color: #fff;
    padding: 5px 8px;
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    font-size: 2em;
  }
  .slideshow .prev{
    left: 50px;
  }
  .slideshow .next{
    right: 50px;
  }
  */
/* main cate 1 */
.main_cate_list{
    display: flex;
    gap: 26px;
}
.main_cate_list li{
    position: relative;
}
.main_cate_list .btn{
    position: absolute;  
    right: 20px;
    bottom: 20px;  
    color: #252525;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: block;
    width: 240px;
    height: 60px;
    background: #fff;
    border-radius: 10px;
    line-height: 50px;
    text-align: center;
   
}

/* main cate 2 */
.cos_x_video video{
    width: 1400px;
}

/* main cate 4  */

.main_cate_last{
    display: flex;
    gap: 26px;
}
.main_cate_list li{
    position: relative;
}
.link4 .text_nature{
    width: 690px;
    height: 200px;
    padding: 10px 0;
    background-color:#F2EFEA;
    text-align: center;
}
.text_nature h2{
    font-size: 40px;
    font-family: "Noto Sans KR", sans-serif;
    color: #252525;
}
.text_nature p{
    font-size: 18px;
    font-family: "Noto Sans KR", sans-serif;
    color: #252525;
    margin-top: 20px;
    line-height: 2;
}